<script type="text/javascript">
var settings = {
  width: '90%',
  height: '90%',
  close: function() {}
};

function closeIFrame(){
  $(window).unbind('resize');
  $('#contentr-overlay').remove();
  settings.close();
  location.reload();
}
</script>
<div class="contentr-area" data-contentr-area="<%= area_name %>" data-contentr-page="<%= page.id %>">
  <% if authorized %>
    <% unless page.published %>
      <div class="page-published">
        Page is not published yet!
      </div>
    <% end %>
    <div class="toolbar">
      <div class='row'>
        <div class='col-lg-10'>
          <div class="area-name"><%= area_name %></div>
          <div class="page-classname"><%= page.classname %></div>
          <div class="page-urlpath"><%= page.url_path %></div>
        </div>
        <div class='col-lg-2 btn_area'>
          <%= link_to("<i class='fa fa-#{t('contentr.toolbar.new_btn')}'></i>".html_safe, contentr_admin_new_paragraph_path(:page_id => page, :area_name => area_name, :site => page.is_a?(Contentr::Site)), :rel => 'contentr-overlay', class: 'btn btn-mini btn-inverse') %>
        </div>
      </div>
    </div>
  <% end %>

  <% paragraphs.each do |p| %>
    <% template_name = p.class.to_s.underscore %>
    <div id="<%= "paragraph_#{p.id}" %>" class="paragraph">
      <% if authorized %>
        <div class="toolbar">
          <div class='row'>
            <div class='col-lg-10'>
              <div class="handle">&#9776;</div>
              <%= render partial: "/contentr/admin/application/publish", locals: {p: p, area_name: area_name, page: page} %>
            </div>
            <div class='col-lg-2 btn_area'>
              <%= link_to("<i class='fa fa-#{t('contentr.toolbar.edit_btn')}'></i>".html_safe, contentr_admin_edit_paragraph_path(:page_id => page, :id => p, :site => page.is_a?(Contentr::Site)), :rel => 'contentr-overlay', class: 'btn btn-mini btn-inverse') %>
              <%= link_to("<i class='fa fa-#{t('contentr.toolbar.destroy_btn')}'></i>".html_safe, contentr_admin_paragraph_path(:page_id => page, :id => p, :site => page.is_a?(Contentr::Site)), :method => :delete, :confirm => 'Really delete?', class: 'btn btn-mini btn-inverse') %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="actual_content">
        <%= render(partial: "contentr/paragraphs/#{template_name}", locals: {paragraph: (contentr_publisher? ? p.for_edit : p)}) %>
      </div>
    </div>
  <% end %>
</div>
